/* External CSS */
body {
    font-family: 'Roboto', sans-serif; /* Use Roboto font for body text */
    background-color: #f3f3f3;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif; /* Use Roboto font for header text */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif; /* Use Roboto font for navigation links */
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif; /* Use Roboto font for footer text */
}

/* Page-specific styles */
.welcome img,
.about img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}

.contact form {
    margin-top: 20px;
}

.contact label {
    display: block;
    margin-bottom: 5px;
}

.contact input,
.contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact button:hover {
    background-color: #555;
}


/* CSS for dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* CSS for the table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
        
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
        
th {
    background-color: #f2f2f2;
}
        
tr:hover {
    background-color: #f5f5f5;
}
        
td:first-child {
    font-weight: bold;
}